@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body
{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Montserrat;
}

header
{
    display: block;
    width: 100%;
    background-color: #eeee22;
}

nav ul
{
    float: right;
    
    margin-top: 0;
}

nav ul
{
    display: block;
    overflow: hidden;
}

nav ul a
{
    padding: 0 20px;
    background-color: #45a247;
    margin: 0 -3px;
    text-decoration: none;
    color: whitesmoke;
    font-weight: 500;
    transition: ease-out .2s;
}

nav ul a:hover
{
    background-color: #eeee22;
    color: #45a247;
}


.logo
{
    display: flex;
    gap: 48px;
    color: #45a247;
}

.logoimg
{
    width: 50px;
    margin-left: 20px;
    padding-top: 5px;
}

main
{
    max-width: 960px;
    margin: 0 auto;
}

#image
{
    width: 450px;
}

.map
{
    margin: 0;
}

.text
{
    font-size: 200px;
}

body
{
    font-family: Montserrat;
}

li
{
    width: 450px;
}

form
{
    display: flex;
    flex-direction: column;
    max-width: 450px;
    gap: 25px;
}

input
{
    height: 45px;
    border-radius: 6px;
    padding-left: 20px;
    padding-right: 20px;
}

.forma
{
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 700px;
    width: 100%;
    background: linear-gradient(to right, #283c86, #45a247);
    border-radius: 6px;
    padding-bottom: 20px;
}

.forma h1
{
     align-self: center;
}

.forma form
{
    align-self: center;
    max-width: 650px;
    width: 100%;
}

.forma label
{
    display: flex;
    align-items: center;
    margin-right: 500px;
}

.forma input
{
    max-width: 600px;
    width: 100%;
    align-self: center;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
}

.sex
{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sex input
{
    width: 50px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
}

.forma select, textarea
{
    height: 70px;
    border-radius: 6px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 600px;
    width: 100%;
    align-self: center;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
}

.checkbox input
{
    margin-right: 30px;
}

.button
{
    cursor: pointer;
}

.button:hover
{
    border: 3px solid rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.55);
}

table
{
    border: 1px solid black;

    margin: 20px auto;
}

th
{
    border: 1px solid black;
    font-weight: 700;
}

td
{
    border: 1px solid black;
    font-weight: 700;
}

.ch
{
    background-color: #eeee22;
}

.nch
{
    background-color: #45a247;
}